* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

header,
header .signup-div button {
  font-size: 20px;
  font-weight: 400;
}

header {
  background-color: #14121d;
  color: white;
  width: 100%;
}

header > div {
  display: flex;
  align-items: center;
  height: 112px;
  padding: 0px 20px;
}

header > div div:first-child,
header .signup-div {
  display: flex;
  flex: 1;
  justify-content: center;
}

header > div > div > img {
  width: 135px;
  height: 74px;
}

header > div nav {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

header nav li {
  list-style-type: none;
}

header nav li:hover {
  text-decoration: underline;
  cursor: pointer;
}

header .signup-div button {
  width: 137px;
  height: 56px;
  padding: 13px 30px 13px 30px;
  border-radius: 50px;
  border: none;
  column-gap: 10px;
  background: #0030ff;
  color: white;
}

header .tgl-div {
  display: none;
}

#banner {
  height: 698px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(./images/banner.png);
  background-size: 100% 100%;
  display: grid;
  place-items: center;
  text-align: center;
  line-height: 4.6rem;
}

#banner > div p:first-child {
  font-size: 48px;
  color: white;
  font-weight: 600;
  position: relative;
}

#banner > div p:nth-of-type(2) {
  font-size: 24px;
  font-weight: 400;
  color: white;
  position: relative;
}

#banner > div > div > button {
  font-size: 20px;
  font-weight: 500;
  background-color: #0030ff;
  padding: 16px 30px;
  border-radius: 500px;
  border: none;
  color: white;
  position: relative;
}

#course > div {
  display: grid;
  grid-template-columns: repeat(2, 538px);
  place-items: center;
  margin: 100px 150px;
  grid-column-gap: 70px;
  color: #262626;
}

#course > div > img {
  width: 536px;
  height: 440px;
  border-radius: 20px;
}

#course > div > div div h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

#course > div > div div p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: justify;
}

#curriculum {
  height: 940px;
  background-color: #14121e;
  display: grid;
  place-items: center;
}

#curriculum > div {
  width: 1230px;
  height: 765px;
  border-radius: 26.94px;
  background-color: #17245b;
  color: white;
}

#curriculum > div > div:first-child {
  width: 500px;
  margin: 20px 0px 35px 20px;
}

#curriculum > div > div:first-child h1 {
  font-size: 45.98px;
  margin-bottom: 10px;
}

#curriculum > div > div:first-child p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9rem;
}

#curriculum > div > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

#curriculum > div > div:nth-child(2) > div:first-child {
  line-height: 3.6rem;
}

#curriculum > div > div:nth-child(2) > div:first-child > h1 {
  font-size: 24px;
}

#curriculum > div > div:nth-child(2) > div:first-child li {
  font-size: 24px;
  font-weight: 400;
  list-style-type: none;
}

#curriculum > div > div:nth-child(2) > div:last-child img {
  width: 584px;
  height: 414px;
  border-radius: 20px;
}

#curriculum > div > div:last-child {
  margin: 35px 0px 30px 20px;
}

#curriculum > div > div:last-child button {
  font-size: 24px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: #0030ff;
  padding: 11px 19px;
  border-radius: 50px;
}

#instructor > div {
  color: #262626;
  margin: 80px 60px;
}
#instructor > div > h1 {
  font-size: 45.98px;
  text-align: center;
}

#instructor > div > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 45px 0px 0px 0px;
}

#instructor > div > div > div:first-child > img {
  width: 465px;
  height: 410px;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
}

#instructor > div > div > div:last-child {
  width: 513px;
}

#instructor > div > div:last-child h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

#instructor > div > div:last-child p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7rem;
}

.footer {
  background: linear-gradient(262.72deg, #172458 0.01%, #191726 99.6%);
  padding: 60px 100px;
}

.footer > div:first-child {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 45px;
}

.footer > div:first-child > div:first-child > img {
  width: 135px;
  height: 74px;
}

.footer > div:first-child div h3 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer > div:first-child > div:nth-child(2) > nav li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer > div:first-child > div:nth-child(2) > nav li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer > div:first-child > div:nth-child(3) > nav li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer > div:first-child > div:nth-child(4) div h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.footer > div:first-child > div:nth-child(4) > div:first-child > p {
  text-decoration: underline;
}

.footer > div:first-child > div:nth-child(4) div p {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer > div:first-child > div:nth-child(4) > div:last-child {
  display: flex;
  justify-content: space-between;
}

.footer > div:first-child > div:nth-child(4) > div:last-child img {
  width: 25.5px;
  height: 25.5px;
}

.footer > div:first-child > div:nth-child(4) > div:last-child > img:last-child {
  border-radius: 50%;
}

.footer > div:first-child > div:last-child > h3 {
  font-size: 18px;
  font-weight: 500;
}

.footer > div:first-child > div:last-child > div {
  width: 300px;
  border: 1px solid white;
  margin-right: 40px;
  padding: 3px 2px 3px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > div:first-child > div:last-child > div > input {
  background-color: #231c4500;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 15px;
  margin-right: 45px;
}

.footer > div:first-child > div:last-child > div > input::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.footer > div:first-child > div:last-child > div > button {
  padding: 7px 10px;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.571);
  color: white;
}

.footer > div:last-child {
  color: white;
  text-align: center;
  border-top: 2px solid white;
  padding: 25px 0px 0px 0px;
}
